*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color: #555;
    font-family: 'Lato' ,'Arial' , 'san-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
} 


/*--- reusable ------*/

h1,
h2
    {
        font-weight: 300;
        text-transform: uppercase;
        
    }

h1{
    
        margin-top: 0;
        margin-bottom: 20px;
        color: #fff;
        font-size: 240%;
        word-spacing: 4px;
    letter-spacing: 1px;
}


h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    
}

h2:after{
    display: block;
    height: 2px;
    background-color: #ffbd4a;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
}

/* ---- Header ---- */

header{
    background-image: -webkit-gradient(linear , left top, left bottom , from(rgba(0,0,0, 0.7)) , to(rgba(0,0,0, 0.7))) , url(img/bi.jpg);
    background-image: linear-gradient(rgba(0,0,0, 0.7) , rgba(0,0,0, 0.7)) , url(img/bi.jpg);
    background-size: cover;
    background-position: center; 
    height: 100vh;
    color: #fff;
}

.logo{
    height: 80px;
    width: auto;
    margin-left: 0px;
    float: left;
    margin-top: 15px;
}

.main-nav{
    float: right;
    list-style: none;
    color: #fff;
}


.main-nav li{
    display: inline-block;
    margin-left: 25px;
    margin-top: 50px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 90%;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
    border-bottom: 2px solid transparent;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid  #ffbd4a;
}

.text-box {
    position: absolute;
    width: 1140px;
    top:50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

/*-------Sections----------*/

section{
    padding: 80px 60px;
    margin: 0 0;
}

/*-------About us section----------*/

.section-aboutus .long-copy {
    margin-bottom: 30px;
    
}
.long-copy{
    line-height: 140%;
    width: 70%;
    margin-left: 15%;
}



/*-------Footer----------*/


footer{
    background-color: #333;
}

.footer-nav{
    list-style: none;
    float: left;
}

.social-links{
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right: 20px;
}
.footer-nav li:last-child,
.social-links li:last-child{
    margin-right: 0;
}
.footer-nav li a:link,
.footer-nav li a:visited, 
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}


footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}
